/* Reset CSS */

* {
    margin: 0;
    padding: 0;
}

/* 
Documentation for trying to fix footer display on mobile

Issue #1: On mobile the footer is pushed off the page the aprox height of the navbar OR the browser / phone control bar at bottom of screen.

Issue 1 - Oct 1 / Paul / Added float-right to line 92 of index.html

Commit 2
"Issue 1 - Oct 1 / Paul / Removed float-right line 92 of index.html Removed d-flex class from line 28 of index.html since the parent container is already set to d-flex"

Commit 3
"Issue 1 - Paul - Found https://developers.google.com/web/updates/2016/12/url-bar-resizing and https://dev.to/peiche/100vh-behavior-on-chrome-2hm8 added @supports on body line 34-40 of style.css"

Commit 4
"Reverting previous commit"



*/


body, wrapper {
    min-height: 100vh;
    background-image: url(../images/gaming-pattern.png);
}

footer {
    text-align: center;
    font-size: 75%;
}

/* Float portfolio pic to left of text and text around it, set max width of img */

.portPic {
    max-width: 150px;
    float: left;
    margin: 10px;
}

/* set content width for main content */

main {
    max-width: 960px;
}

/* centered navbar links using flexbox and didnt want to center brand anyways - This was a big issue to solve without limiting navbar width / messing up item alignment in regard to NavBar Brand
.NavWrap{
     max-width: 960px;
 } 
 */

.contactBox-dark {
    border-radius: 5px;
    align-items: center;
    padding: 10px;
}

.portWrap {
    max-width: 960px;
}

/* Did not use figures for images on portfolio page, interesting bootstrap element though. Want to  have thumbnails with fade in link overlay with javascript
.figure {
    margin: 10px;
    align-self: center;
} */